In [1]:
t1 = ()

In [2]:
t1

()

In [3]:
type(t1)

tuple

In [4]:
type(())

tuple

In [5]:
t2 = (10,)

In [6]:
t2

(10,)

In [7]:
type(t2)

tuple

In [8]:
t3 = (10)

In [9]:
t3

10

In [10]:
type(t3)

int

In [11]:
t4 = (10, 20, 30)

In [12]:
t4

(10, 20, 30)

In [13]:
type(t4)

tuple

In [14]:
t5 = 10, 20, 30

In [15]:
t5

(10, 20, 30)

In [16]:
type(t5)

tuple

In [17]:
t6 = 10,

In [18]:
t6

(10,)

In [19]:
type(t6)

tuple

In [23]:
t7 = ('c', 'o', ('de', 'dragon'))

In [24]:
t7

('c', 'o', ('de', 'dragon'))

In [25]:
type(t7)

tuple

In [26]:
t7[1]

'o'

In [27]:
del t7[1]

TypeError: 'tuple' object doesn't support item deletion

In [28]:
t7[1]

'o'

In [29]:
t7[1] = 'op'

TypeError: 'tuple' object does not support item assignment

In [30]:
lst = [1, 2, 3]

In [31]:
lst

[1, 2, 3]

In [32]:
type(lst)

list

In [33]:
lst[0]

1

In [34]:
lst[0] = 100

In [35]:
lst

[100, 2, 3]

In [36]:
del lst[0]

In [37]:
lst

[2, 3]

In [38]:
t1 = (10, 20, 'a', 'z', 'code')

In [39]:
t2 = (30, 40, 50)

In [40]:
result = t1 + t2

In [41]:
result

(10, 20, 'a', 'z', 'code', 30, 40, 50)

In [42]:
t1

(10, 20, 'a', 'z', 'code')

In [43]:
t2

(30, 40, 50)

In [44]:
result = t2 * 3

In [45]:
result

(30, 40, 50, 30, 40, 50, 30, 40, 50)

In [46]:
t3 = ('c', 'o', 'd', 'e')

In [47]:
t3

('c', 'o', 'd', 'e')

In [48]:
result = t3*3

In [49]:
result

('c', 'o', 'd', 'e', 'c', 'o', 'd', 'e', 'c', 'o', 'd', 'e')

In [50]:
x = 100

In [51]:
y = 200

In [52]:
x

100

In [53]:
y

200

In [54]:
x, y = y, x

In [ ]:
x, y = (y, x)

In [55]:
x

200

In [56]:
y

100