In [1]:
 x, y, z = 1, 2, 3

In [2]:
print( type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [3]:
print(x, y, z)

1 2 3

In [4]:
tu = 10, 20, 30

In [5]:
type(tu)

tuple

In [6]:
x, y, z = tu

In [7]:
print( type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [8]:
print(x, y, z)

10 20 30

In [9]:
li = 10, 'codedragon', 200

In [10]:
li

(10, 'codedragon', 200)

In [11]:
x, y, z = li

In [12]:
print(x, y, z)

10 codedragon 200

In [13]:
li = ['code', 'dragon', 4000, 5000]

In [14]:
li

['code', 'dragon', 4000, 5000]

In [15]:
w, x, y, z = li

In [16]:
print(w, x, y, z)

code dragon 4000 5000

In [17]:
tu = (10, 20, 30, 40, 50)

In [18]:
tu

(10, 20, 30, 40, 50)

In [19]:
type(tu)

tuple

In [20]:
li = list(tu)

In [21]:
li

[10, 20, 30, 40, 50]

In [22]:
type(li)

list

In [23]:
li[0] = 1000

In [24]:
li

[1000, 20, 30, 40, 50]

In [25]:
tu = tuple(li)

In [26]:
tu

(1000, 20, 30, 40, 50)

In [27]:
type(tu)

tuple

In [28]:
tu[0] = 20000

TypeError: 'tuple' object does not support item assignment

In [29]:
name = ("Gildong", "Hong")

In [30]:
type(name)

tuple

In [31]:
firstname, lastname = ("Gildong", "Hong")

In [32]:
print(firstname, lastname)

Gildong Hong

In [33]:
print(type(firstname), type(lastname))

<class 'str'> <class 'str'>

In [34]:
def calc(a, b):
    return a+b, a*b

In [35]:
result = calc(5, 4)

In [36]:
result

(9, 20)

In [37]:
type(result)

tuple

In [38]:
x, y = calc(5, 4)

In [39]:
print(x, y)

9 20

In [40]:
print(type(x), type(y))

<class 'int'> <class 'int'>

In [41]:
print('id: %s , name: %s ' % ('codezzang', 'dragonzzang') )

id: codezzang , name: dragonzzang

In [42]:
dic = {'one':1, 'two':2}

In [43]:
dic

{'one': 1, 'two': 2}

In [44]:
type(dic)

dict

In [45]:
result = dic.items()

In [46]:
result

dict_items([('one', 1), ('two', 2)])