In [1]:
twice = {'다현':19980528, 
         '미나':19970324, '나연':19950922}

In [2]:
newface = {'지효':19970201, '사나':19961229 }

In [3]:
twice

{'다현': 19980528, '미나': 19970324, '나연': 19950922}

In [4]:
newface

{'지효': 19970201, '사나': 19961229}

In [5]:
twice.update(newface)

In [6]:
twice

{'다현': 19980528,
 '미나': 19970324,
 '나연': 19950922,
 '지효': 19970201,
 '사나': 19961229}

In [7]:
newface

{'지효': 19970201, '사나': 19961229}

In [8]:
twice.update({'나연':111111})

In [9]:
twice

{'다현': 19980528, '미나': 19970324, '나연': 111111, '지효': 19970201, '사나': 19961229}

In [10]:
twice.clear()

In [11]:
twice

{}

In [12]:
person = {'name':'hongjildong', 'age': 27}

In [13]:
person

{'name': 'hongjildong', 'age': 27}

In [14]:
person.setdefault('color', 'black')

'black'

In [15]:
person

{'name': 'hongjildong', 'age': 27, 'color': 'black'}

In [16]:
person.setdefault('color', 'yellow')

'black'

In [17]:
person

{'name': 'hongjildong', 'age': 27, 'color': 'black'}

In [18]:
person = {'name':'홍길동', 'age':18, 
          'phone':'01011112222', 'address':'seoul'}

In [19]:
person

{'name': '홍길동', 'age': 18, 'phone': '01011112222', 'address': 'seoul'}

In [20]:
result = 'name' in person

In [21]:
result

True

In [22]:
result = 'email' in person

In [23]:
result

False

In [24]:
result = 'nickname' in person

In [25]:
result

False

In [26]:
result = 'address' in person

In [27]:
result

True

In [28]:
result = person.get("name")

In [29]:
result

'홍길동'

In [30]:
result = person.get("url")

In [31]:
print(result)

None

In [32]:
result = person['name']

In [33]:
result

'홍길동'

In [34]:
result = person['email']

KeyError: 'email'

In [35]:
if 'age' in person:
    print(person['age'])

18

In [36]:
if 'email' in person:
    print(person['age'])

In [37]:
di = {'a':1, 'b':2, 'c':3}

In [38]:
di

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
for , 딕셔너리명[키명] -> Key Value 모두 출력

a 1
b 2
c 3

In [39]:
di.keys()

dict_keys(['a', 'b', 'c'])

In [41]:
for key in di.keys():
    print(key, di[key])

a 1
b 2
c 3

In [42]:
di

{'a': 1, 'b': 2, 'c': 3}

In [44]:
for key in di:
    print(key, di[key])

a 1
b 2
c 3

In [ ]:
for , 키와 값을 동시에 참조해서 -> Key Value 모두 출력

a 1
b 2
c 3

In [45]:
di.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [47]:
for k, v in di.items():
    print(k, v)

a 1
b 2
c 3

In [48]:
di

{'a': 1, 'b': 2, 'c': 3}

In [49]:
di.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [51]:
result = di.items()

In [52]:
result.sort()

AttributeError: 'dict_items' object has no attribute 'sort'

In [53]:
items = list(di.items())

In [54]:
items.sort()

In [55]:
items

[('a', 1), ('b', 2), ('c', 3)]

In [56]:
k, v = ('a', 1)

In [57]:
k

'a'

In [58]:
v

1

In [59]:
for k, v in items:
    print(k, v)

a 1
b 2
c 3

In [60]:
scores = {'철수':90, "바둑이":85, "영희":75}

In [61]:
scores

{'철수': 90, '바둑이': 85, '영희': 75}

In [ ]:
for in 반복문 아래와 같이 출력

철수 90
바둑이 85
영희 75

In [63]:
for key in scores:
    val = scores[key]
    print('key: %s, value: %d' % (key, val))

key: 철수, value: 90
key: 바둑이, value: 85
key: 영희, value: 75

In [64]:
id_name = {1:'전설', 2:'한세주', 3:'유진오'}

In [65]:
id_name

{1: '전설', 2: '한세주', 3: '유진오'}

In [66]:
id_name.items()

dict_items([(1, '전설'), (2, '한세주'), (3, '유진오')])

In [67]:
name_id = {val:key  for key, val  in id_name.items() }

In [68]:
name_id

{'전설': 1, '한세주': 2, '유진오': 3}

In [69]:
def isodd(val):
    return val%2==1

In [70]:
isodd(7)

True

In [71]:
range(100)

range(0, 100)

In [72]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [78]:
mydict = { x:x for x in range(101)}

In [79]:
mydict

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37,
 38: 38,
 39: 39,
 40: 40,
 41: 41,
 42: 42,
 43: 43,
 44: 44,
 45: 45,
 46: 46,
 47: 47,
 48: 48,
 49: 49,
 50: 50,
 51: 51,
 52: 52,
 53: 53,
 54: 54,
 55: 55,
 56: 56,
 57: 57,
 58: 58,
 59: 59,
 60: 60,
 61: 61,
 62: 62,
 63: 63,
 64: 64,
 65: 65,
 66: 66,
 67: 67,
 68: 68,
 69: 69,
 70: 70,
 71: 71,
 72: 72,
 73: 73,
 74: 74,
 75: 75,
 76: 76,
 77: 77,
 78: 78,
 79: 79,
 80: 80,
 81: 81,
 82: 82,
 83: 83,
 84: 84,
 85: 85,
 86: 86,
 87: 87,
 88: 88,
 89: 89,
 90: 90,
 91: 91,
 92: 92,
 93: 93,
 94: 94,
 95: 95,
 96: 96,
 97: 97,
 98: 98,
 99: 99,
 100: 100}

In [80]:
mydict = { x:x*x for x in range(101) if isodd(x)}

In [81]:
mydict

{1: 1,
 3: 9,
 5: 25,
 7: 49,
 9: 81,
 11: 121,
 13: 169,
 15: 225,
 17: 289,
 19: 361,
 21: 441,
 23: 529,
 25: 625,
 27: 729,
 29: 841,
 31: 961,
 33: 1089,
 35: 1225,
 37: 1369,
 39: 1521,
 41: 1681,
 43: 1849,
 45: 2025,
 47: 2209,
 49: 2401,
 51: 2601,
 53: 2809,
 55: 3025,
 57: 3249,
 59: 3481,
 61: 3721,
 63: 3969,
 65: 4225,
 67: 4489,
 69: 4761,
 71: 5041,
 73: 5329,
 75: 5625,
 77: 5929,
 79: 6241,
 81: 6561,
 83: 6889,
 85: 7225,
 87: 7569,
 89: 7921,
 91: 8281,
 93: 8649,
 95: 9025,
 97: 9409,
 99: 9801}