In [1]:
dic = {10:'홍길동', 20:'손오공', 30:'도깨비'}

In [2]:
dic

{10: '홍길동', 20: '손오공', 30: '도깨비'}

In [3]:
len(dic)

3

In [4]:
dic[20]

'손오공'

In [5]:
del dic[20]

In [6]:
dic

{10: '홍길동', 30: '도깨비'}

In [7]:
dic.clear()

In [8]:
dic

{}

In [9]:
address1 = {
    1:{'name':'hong gildong', 
       'email':'hong@gmail.com',
      'tel':'010-1234-5678'},
    2:{'name':'kim gildong', 
       'email':'kim@gmail.com',
      'tel':'010-1111-2222'},
    3:{'name':'bae gildong', 
       'email':'bae@gmail.com',
      'tel':'010-3333-4444'},
    4:{'name':'kim coding', 
       'email':'coding@gmail.com',
      'tel':'010-5555-6666'},
    5:{'name':'min gildong', 
       'email':'min@gmail.com',
      'tel':'010-7777-8888'}
}

In [10]:
address1

{1: {'name': 'hong gildong',
  'email': 'hong@gmail.com',
  'tel': '010-1234-5678'},
 2: {'name': 'kim gildong', 'email': 'kim@gmail.com', 'tel': '010-1111-2222'},
 3: {'name': 'bae gildong', 'email': 'bae@gmail.com', 'tel': '010-3333-4444'},
 4: {'name': 'kim coding',
  'email': 'coding@gmail.com',
  'tel': '010-5555-6666'},
 5: {'name': 'min gildong', 'email': 'min@gmail.com', 'tel': '010-7777-8888'}}

In [ ]:
key가 1인 홍길동의 데이터를 아래처럼 출력

name: hong gildong
email: hong@gmail.com
tel: 010-1234-5678

In [12]:
address1[1]

{'name': 'hong gildong', 'email': 'hong@gmail.com', 'tel': '010-1234-5678'}

In [13]:
address1[1].items()

dict_items([('name', 'hong gildong'), ('email', 'hong@gmail.com'), ('tel', '010-1234-5678')])

In [14]:
for k, v in address1[1].items():
    print(k, ":", v)

name : hong gildong
email : hong@gmail.com
tel : 010-1234-5678

In [15]:
address2 = [{'id':1, 'name':'hong gildong', 
       'email':'hong@gmail.com',
      'tel':'010-1234-5678'},
    {'id':2, 'name':'kim gildong', 
       'email':'kim@gmail.com',
      'tel':'010-1111-2222'},
    {'id':3, 'name':'bae gildong', 
       'email':'bae@gmail.com',
      'tel':'010-3333-4444'},
    {'id':4, 'name':'kim coding', 
       'email':'coding@gmail.com',
      'tel':'010-5555-6666'},
    {'id':5, 'name':'min gildong', 
       'email':'min@gmail.com',
      'tel':'010-7777-8888'}]

In [16]:
address2

[{'id': 1,
  'name': 'hong gildong',
  'email': 'hong@gmail.com',
  'tel': '010-1234-5678'},
 {'id': 2,
  'name': 'kim gildong',
  'email': 'kim@gmail.com',
  'tel': '010-1111-2222'},
 {'id': 3,
  'name': 'bae gildong',
  'email': 'bae@gmail.com',
  'tel': '010-3333-4444'},
 {'id': 4,
  'name': 'kim coding',
  'email': 'coding@gmail.com',
  'tel': '010-5555-6666'},
 {'id': 5,
  'name': 'min gildong',
  'email': 'min@gmail.com',
  'tel': '010-7777-8888'}]

In [ ]:
id가 1인 홍길동의 데이터를 아래처럼 출력

name: hong gildong
email: hong@gmail.com
tel: 010-1234-5678

In [19]:
for ar in address2:
    print(ar)
#     print(ar['id'])

{'id': 1, 'name': 'hong gildong', 'email': 'hong@gmail.com', 'tel': '010-1234-5678'}
{'id': 2, 'name': 'kim gildong', 'email': 'kim@gmail.com', 'tel': '010-1111-2222'}
{'id': 3, 'name': 'bae gildong', 'email': 'bae@gmail.com', 'tel': '010-3333-4444'}
{'id': 4, 'name': 'kim coding', 'email': 'coding@gmail.com', 'tel': '010-5555-6666'}
{'id': 5, 'name': 'min gildong', 'email': 'min@gmail.com', 'tel': '010-7777-8888'}

In [25]:
for ar in address2:
    if(ar['id']==1):
        for k, v in ar.items():
            if k!='id':
                print(k, ":", v)

name : hong gildong
email : hong@gmail.com
tel : 010-1234-5678

In [26]:
message = '사람은 오로지 가슴으로만 올바로 볼수 있다. 본질적인 것은 눈에 보이지 않는다.'

In [27]:
message

'사람은 오로지 가슴으로만 올바로 볼수 있다. 본질적인 것은 눈에 보이지 않는다.'

In [ ]:
문장 속에 있는 문자 개수를 카운팅해서
딕셔너리 형태로 저장한 후 출력해 주시기 바랍니다.

{'사':1, '람':1, '은':2, ......}

In [28]:
counter = {}

In [ ]:
setdefault()

In [31]:
for ch in message:
#     print(ch)
    counter[ch] = counter.setdefault(ch, 0) + 1

In [32]:
counter

{'사': 1,
 '람': 1,
 '은': 2,
 ' ': 10,
 '오': 1,
 '로': 3,
 '지': 2,
 '가': 1,
 '슴': 1,
 '으': 1,
 '만': 1,
 '올': 1,
 '바': 1,
 '볼': 1,
 '수': 1,
 '있': 1,
 '다': 2,
 '.': 2,
 '본': 1,
 '질': 1,
 '적': 1,
 '인': 1,
 '것': 1,
 '눈': 1,
 '에': 1,
 '보': 1,
 '이': 1,
 '않': 1,
 '는': 1}