In [1]:
se1 = set( [2, 0, 8, 0] )

In [2]:
se1

{0, 2, 8}

In [3]:
type(se1)

set

In [4]:
myset = {1, 3, 5, 7, 9}

In [5]:
myset

{1, 3, 5, 7, 9}

In [6]:
type(myset)

set

In [7]:
se2 = set("CodeDragon")

In [8]:
se2

{'C', 'D', 'a', 'd', 'e', 'g', 'n', 'o', 'r'}

In [9]:
type(se2)

set

In [10]:
se2[2]

TypeError: 'set' object is not subscriptable

In [11]:
se2[1:4]

TypeError: 'set' object is not subscriptable

In [12]:
se2.sort()

AttributeError: 'set' object has no attribute 'sort'

In [13]:
set()

set()

In [14]:
result = set([10, 20, 30, 40, 50])

In [15]:
result

{10, 20, 30, 40, 50}

In [16]:
result = set([10, 20, 30, 20, 30, 40, 10])

In [17]:
result

{10, 20, 30, 40}

In [18]:
result = set('abcdefg')

In [19]:
result

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [20]:
result = set([(1,2,3), (4,5,6)])

In [21]:
result

{(1, 2, 3), (4, 5, 6)}

In [22]:
result = set([[1,2,3], [4,5,6]])

TypeError: unhashable type: 'list'

In [23]:
se3 = set( {'a':1, 'b':2, 'c':3} )

In [24]:
se3

{'a', 'b', 'c'}

In [25]:
type(se3)

set

In [26]:
se4 = set( {'a':1, 'b':2, 'c':3}.values() )

In [27]:
se4

{1, 2, 3}

In [28]:
type(se4)

set

In [29]:
se5 = set([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [30]:
type(se5)

set

In [31]:
se5

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
for el in se5:
    print(el)

1
2
3
4
5
6
7
8
9

In [33]:
mylist = ["A", "A", 
          "D", 
          "B", "B", "B", 
          "C", "C", 
          "D", "D", "D"]

In [34]:
mylist

['A', 'A', 'D', 'B', 'B', 'B', 'C', 'C', 'D', 'D', 'D']

In [35]:
type(mylist)

list

In [36]:
s = set(mylist)

In [37]:
type(s)

set

In [38]:
s

{'A', 'B', 'C', 'D'}