In [1]:
x = [10, 20, 30]

In [2]:
y = ['begin', x ,'end']

In [3]:
print(x)

[10, 20, 30]

In [4]:
print(y)

['begin', [10, 20, 30], 'end']

In [5]:
print(y[0])

begin

In [6]:
print(y[1])

[10, 20, 30]

In [7]:
print(y[2])

end

In [8]:
print(y[1][0])

10

In [9]:
print(y[1][1])

20

In [10]:
print(y[1][2])

30

In [11]:
print(x)

[10, 20, 30]

In [12]:
x[1] = 200

In [13]:
print(x)

[10, 200, 30]

In [14]:
print(y)

['begin', [10, 200, 30], 'end']

In [15]:
li = [10, ['a', ['x', 'y'] ,'b'] ,30]

In [16]:
print(li[0])

10

In [17]:
print(li[1])

['a', ['x', 'y'], 'b']

In [18]:
print(li[1][1])

['x', 'y']

In [19]:
print(li[1][1][0])

x

In [20]:
print(li[1][1][1])

y

In [21]:
lt = [['one', 1], ['two', 2], ['three', 3]]

In [29]:
lt = [('one', 1), ('two', 2), ('three', 3)]

In [30]:
for t in lt:
    print('name: ', t[0], ", number: ", t[1])

name:  one , number:  1
name:  two , number:  2
name:  three , number:  3

In [31]:
for t in lt:
    print('name: %s, number :%d' % (t[0], t[1]))

name: one, number :1
name: two, number :2
name: three, number :3

In [32]:
for name, num in lt:
    print('name: %s, number :%d' % (name, num))

name: one, number :1
name: two, number :2
name: three, number :3

In [33]:
for t in lt:
    print('name: %s, number :%d' % t)

name: one, number :1
name: two, number :2
name: three, number :3