In [1]:
a = [1, 2, 3, 4]

In [2]:
result = []

In [3]:
print(a)

[1, 2, 3, 4]

In [4]:
print(result)

[]

In [7]:
for num in a:
    result.append(num*3)

In [8]:
print(result)

[3, 6, 9, 12]

In [9]:
result1 = [ num*3 for num in a]

In [10]:
print(result1)

[3, 6, 9, 12]

In [11]:
result = [num*3 for num in a if num%2==0 ]

In [12]:
print(result)

[6, 12]

In [13]:
print(a)

[1, 2, 3, 4]

In [14]:
result = [ x*y for x in range(2, 10)
         for y in range(1, 10)]

In [15]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [17]:
# 2 4 6 8 10 12 14 16 18
# 3 6 9 12 15 18 21 24 27
# 4 8 12 16 20 24 28 32 36
# 5 10 15 20 25 30 35 40 45
# ....

In [18]:
print(len(result))

72

In [22]:
for x in range(0, len(result)):
    if(x%9==0):
        print()
        
    print(result[x], end=" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [23]:
lst = []

In [24]:
for k in range(10):
    lst.append(k*k)

In [25]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
lst = [ k*k for k in range(10)]

In [27]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# 홀수의 제곱만 리스트 생성, 리스트 내포
# 0~9

In [28]:
lst = [ k*k for k in range(10) if k%2]

In [29]:
print(lst)

[1, 9, 25, 49, 81]

In [31]:
lst = []

In [32]:
for k in range(10):
    if k%2:
        lst.append(k*k)

In [33]:
print(lst)

[1, 9, 25, 49, 81]