In [1]:
lst = [1, 2, 3, 4, 5, 6, 7]

In [2]:
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
result = [ i**2 for i in lst]

In [4]:
print(result)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
fruit = ["watermelon", "mango", "tomato", 
        "strawberry", "coconut"]

In [6]:
result = [ len(i)  for i in fruit]

In [7]:
print(result)

[10, 5, 6, 10, 7]

In [8]:
print(type(result))

<class 'list'>

In [9]:
result = [ i for i in fruit if len(i)>6]

In [10]:
print(result)

['watermelon', 'strawberry', 'coconut']

In [11]:
lst1 = [1, 2, 3]

In [12]:
lst2 = [4, 5, 6]

In [13]:
result = [ x+y for x in lst1 for y in lst2]

In [14]:
print(result)

[5, 6, 7, 6, 7, 8, 7, 8, 9]

In [ ]:
20보다 작은 2의 배수와 -> range()
20보다 작은 3의 배수에 대해 -> range()
그 두 수의 합이 7의 배수인 것들에 대해 -> if
그 두 수의 곱을 출력 -> 표현식

In [17]:
result = [ (i, j, i*j) for i in range(2, 20, 2) for j in range(3 ,20, 3) if (i+j)%7==0]

In [18]:
print(result)

[(2, 12, 24), (4, 3, 12), (6, 15, 90), (8, 6, 48), (10, 18, 180), (12, 9, 108), (16, 12, 192), (18, 3, 54)]

In [19]:
seq1 = 'abc'

In [20]:
seq2 = [1, 2, 3]

In [21]:
result = [ (x, y) for x in seq1 for y in seq2]

In [22]:
print(result)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [23]:
words = 'The quick brown fox jumps over the lazy dog'.split()

In [24]:
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [25]:
print(type(words))

<class 'list'>

In [26]:
result = [ [w.upper(), w.lower(), len(w)] for w in words]

In [27]:
for i in result:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

In [ ]:
0부터 9까지 숫자들중
3으로 나눈 나머지가 0인 숫자에 대해
그 제곱한 값의 리스트 출력

In [28]:
result = [  n**2 for n in range(10) if n%3==0 ]

In [29]:
print(result)

[0, 9, 36, 81]

In [ ]:
lst 리스트에서 숫자로된 리스트를 생성

In [30]:
lst = [1, 3, 'A', 5, False, 7]

In [34]:
print(type(7))

<class 'int'>

In [35]:
result = [ i for i in lst if type(i)==int ]

In [36]:
print(result)

[1, 3, 5, 7]