In [1]:
def swap(x, y):
    return y, x

In [4]:
tu = (10, 20)

In [ ]:
x, y = (10, 20)

In [5]:
x, y = tu

In [14]:
print(tu)

(10, 20)

In [6]:
print(x, y)

10 20

In [7]:
print(type(tu))

<class 'tuple'>

In [8]:
tu2 = 100, 200

In [11]:
# a, b = tu2
a, b = 100, 200

In [12]:
print(a, b)

100 200

In [13]:
print(tu2)

(100, 200)

In [15]:
print(type(tu2))

<class 'tuple'>

In [16]:
result = swap(10, 20)
result = 20, 10

In [17]:
print(result)

(20, 10)

In [18]:
print(type(result))

<class 'tuple'>

In [19]:
def sum_and_multiple_and_minuse(x, y):
    return x+y, x*y, y-x

In [20]:
result = sum_and_multiple_and_minuse(3, 7)

In [21]:
print(result)

(10, 21, 4)

In [22]:
print(type(result))

<class 'tuple'>

In [23]:
result = swap(10, 20)

In [24]:
print(result)

(20, 10)

In [29]:
x, y = swap(10, 20)

In [30]:
print(x, y)

20 10

In [31]:
sumResult, multipleResult, minusResult = sum_and_multiple_and_minuse(3, 7)

In [32]:
print(sumResult, multipleResult, minusResult)

10 21 4

In [33]:
li = ['python', 'pyson', 'pythong', 'pydon']

In [34]:
print(li)

['python', 'pyson', 'pythong', 'pydon']

In [35]:
def length_list(li):
    res = []
    for el in li:
        res.append(len(el))
    return res

In [36]:
result = length_list(li)

In [37]:
print(result)

[6, 5, 7, 5]

In [38]:
print(type(result))

<class 'list'>

In [41]:
result = [ len(s) for s in li]

In [42]:
print(result)

[6, 5, 7, 5]

In [43]:
print(type(result))

<class 'list'>

In [44]:
a = 10

In [45]:
a++

SyntaxError: invalid syntax (<ipython-input-45-22e3d6dc1353>, line 1)

In [ ]:
++a
a = a+ 1