In [ ]:
'''
상속
'''

In [1]:
class Person:
    def __init__(self, name, phone=None):
        self.name = name
        self.phone = phone
        
    def __str__(self):
        return '<Person %s %s >' % (self.name, self.phone)

In [2]:
class Employee(Person):
    def __init__(self, name, phone, position, salary):
        Person.__init__(self, name, phone)
        
        self.position = position
        self.salary = salary

In [3]:
p1 = Person('홍길동', 1122)

In [4]:
p1.name

'홍길동'

In [5]:
p1.phone

1122

In [6]:
p1

In [7]:
# print() -> str() -> __str__()
print(p1)

<Person 홍길동 1122 >

In [8]:
str(p1)

'<Person 홍길동 1122 >'

In [9]:
m1 = Employee('김코딩', 3344, '대리', 4000)

In [10]:
m1.name

'김코딩'

In [11]:
m1.position

'대리'

In [12]:
m1.phone

3344

In [13]:
m1.salary

4000

In [14]:
# print() -> str() -> __str__()
print(m1)

<Person 김코딩 3344 >

In [15]:
m2 = Employee('이순신', 5566, '과장', 5000)

In [16]:
print(m2.name, m2.position)

이순신 과장

In [17]:
print(m2.phone, m2.salary)

5566 5000

In [18]:
print(m2)

<Person 이순신 5566 >

In [19]:
str(m2)

'<Person 이순신 5566 >'