In [1]:
import pandas as pd

In [2]:
range(10, 14)

range(10, 14)

In [3]:
list(range(10, 14))

[10, 11, 12, 13]

In [4]:
result = pd.Series(range(10, 14))

In [5]:
result

0    10
1    11
2    12
3    13
dtype: int64

In [8]:
data = pd.Series([9804512, 3548737, 
                  2891451, 2476052], 
                 index=['서울', '대전', 
                        '대구', '부산'])

In [9]:
data

서울    9804512
대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [10]:
data.index

Index(['서울', '대전', '대구', '부산'], dtype='object')

In [11]:
data.values

array([9804512, 3548737, 2891451, 2476052], dtype=int64)