In [1]:
import pandas as pd

In [2]:
data = pd.Series([9804512, 3548737, 
                  2891451, 2476052], 
                 index=['서울', '대전', 
                        '대구', '부산'])

In [3]:
data

서울    9804512
대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [4]:
type(data)

pandas.core.series.Series

In [5]:
data / 1000000

서울    9.804512
대전    3.548737
대구    2.891451
부산    2.476052
dtype: float64

In [6]:
data

서울    9804512
대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [7]:
data[3]

2476052

In [8]:
data['부산']

2476052

In [9]:
data[1]

3548737

In [10]:
data['대전']

3548737

In [11]:
data[[0, 3, 1]]

서울    9804512
부산    2476052
대전    3548737
dtype: int64

In [13]:
data[['서울', '부산', '대전']]

서울    9804512
부산    2476052
대전    3548737
dtype: int64

In [14]:
2500000<data

서울     True
대전     True
대구     True
부산    False
dtype: bool

In [15]:
data < 5000000

서울    False
대전     True
대구     True
부산     True
dtype: bool

In [16]:
(2500000<data) & (data < 5000000)

서울    False
대전     True
대구     True
부산    False
dtype: bool

In [17]:
result = data[(2500000<data) & (data < 5000000)]

In [18]:
result

대전    3548737
대구    2891451
dtype: int64

In [19]:
data

서울    9804512
대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [20]:
data[1:3]

대전    3548737
대구    2891451
dtype: int64

In [21]:
data['대전':'부산']

대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [22]:
data['대전':'대구']

대전    3548737
대구    2891451
dtype: int64

In [23]:
rdata = pd.Series(range(3), index=['a', 'b', 'c'])

In [24]:
rdata

a    0
b    1
c    2
dtype: int64

In [25]:
rdata.a

0

In [26]:
rdata.b

1

In [27]:
rdata.c

2

In [28]:
vSeries1 = pd.Series([92600, 92400, 
                      92100, 94300, 92300])

In [29]:
vSeries1

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

In [30]:
type(vSeries1)

pandas.core.series.Series

In [31]:
vSeries1[0]

92600

In [32]:
vSeries1[1]

92400

In [33]:
vSeries1[4]

92300

In [34]:
vSeries2 = pd.Series([92600, 92400, 
                      92100, 94300, 92300], 
                    index=['2020-12-19', 
                           '2020-12-18',
                          '2020-12-17',
                          '2020-12-16',
                          '2020-12-15'])

In [35]:
vSeries2

2020-12-19    92600
2020-12-18    92400
2020-12-17    92100
2020-12-16    94300
2020-12-15    92300
dtype: int64

In [36]:
vSeries2['2020-12-19']

92600

In [37]:
vSeries2['2020-12-16']

94300

In [38]:
vSeries2['2020-12-15']

92300

In [39]:
vSeries2[3]

94300

In [40]:
vSeries2.index

Index(['2020-12-19', '2020-12-18', '2020-12-17', '2020-12-16', '2020-12-15'], dtype='object')

In [41]:
for date in vSeries2.index :
    print(date)

2020-12-19
2020-12-18
2020-12-17
2020-12-16
2020-12-15

In [42]:
vSeries2.values

array([92600, 92400, 92100, 94300, 92300], dtype=int64)

In [43]:
for price in vSeries2.values:
    print(price)

92600
92400
92100
94300
92300

In [44]:
for date in vSeries2.index :
    print(vSeries2[date])

92600
92400
92100
94300
92300

In [45]:
mine = pd.Series([10, 20, 30], 
                 index=['kiwi', 'apple', 'banana'])

In [46]:
friend = pd.Series([10, 30, 20], 
                  index=['banana', 'kiwi', 'apple'])

In [47]:
mine

kiwi      10
apple     20
banana    30
dtype: int64

In [48]:
friend

banana    10
kiwi      30
apple     20
dtype: int64

In [49]:
merge = mine + friend

In [50]:
merge

apple     40
banana    40
kiwi      40
dtype: int64