In [2]:
import pandas as pd

In [3]:
data = pd.Series([9804512, 3548737, 
                  2891451, 2476052], 
                index=['서울', '대전', 
                       '대구', '부산'])

In [4]:
data

서울    9804512
대전    3548737
대구    2891451
부산    2476052
dtype: int64

In [5]:
result = '서울' in data

In [6]:
result

True

In [7]:
result = '대전' in data

In [8]:
result

True

In [9]:
result = '제주' in data

In [10]:
result

False

In [11]:
data.items()

In [13]:
list(data.items())

[('서울', 9804512), ('대전', 3548737), ('대구', 2891451), ('부산', 2476052)]

In [14]:
for i in data.items():
    print(i)

('서울', 9804512)
('대전', 3548737)
('대구', 2891451)
('부산', 2476052)

In [15]:
for k, v in data.items(): 
    print("%s : %d" % (k, v))

서울 : 9804512
대전 : 3548737
대구 : 2891451
부산 : 2476052

In [16]:
data2 = pd.Series({"대구":3548737, "서울":9804512,
                  "부산":2476052, "대전":3548737 })

In [17]:
data2

대구    3548737
서울    9804512
부산    2476052
대전    3548737
dtype: int64

In [18]:
type(data2)

pandas.core.series.Series

In [19]:
data2['대구']

3548737

In [20]:
data2.index

Index(['대구', '서울', '부산', '대전'], dtype='object')

In [23]:
data3 = pd.Series({"대구":3548737, "서울":9804512,
                  "부산":2476052, "대전":3548737 },
                 index=["서울", "대전", 
                        "대구", "부산"])

In [24]:
data3

서울    9804512
대전    3548737
대구    3548737
부산    2476052
dtype: int64

In [27]:
dataA = pd.Series([9804512, 3548737, 
                  2891453, 2476052], 
                index=['서울', '대전', 
                       '대구', '부산'])

In [28]:
dataA

서울    9804512
대전    3548737
대구    2891453
부산    2476052
dtype: int64

In [29]:
dataB = pd.Series([9631482, 1490158, 
                   2632035, 3393191],
                 index=['서울', '대전', 
                       '대구', '부산'])

In [30]:
dataB

서울    9631482
대전    1490158
대구    2632035
부산    3393191
dtype: int64

In [31]:
result = dataB - dataA

In [32]:
result

서울    -173030
대전   -2058579
대구    -259418
부산     917139
dtype: int64

In [33]:
dataB

서울    9631482
대전    1490158
대구    2632035
부산    3393191
dtype: int64

In [34]:
dataA

서울    9804512
대전    3548737
대구    2891453
부산    2476052
dtype: int64

In [35]:
result = dataB.values - dataA.values

In [36]:
result

array([ -173030, -2058579,  -259418,   917139], dtype=int64)

In [37]:
dataC = pd.Series([9631482, 1490158, 
                   2632035, 3393191],
                 index=['서울', '수원', 
                        '인천', '부산'])

In [38]:
dataC

서울    9631482
수원    1490158
인천    2632035
부산    3393191
dtype: int64

In [39]:
dataA.index

Index(['서울', '대전', '대구', '부산'], dtype='object')

In [40]:
dataC.index

Index(['서울', '수원', '인천', '부산'], dtype='object')

In [41]:
result = dataC - dataA

In [42]:
result

대구         NaN
대전         NaN
부산    917139.0
서울   -173030.0
수원         NaN
인천         NaN
dtype: float64

In [43]:
ds_bool = result.notnull()

In [44]:
ds_bool

대구    False
대전    False
부산     True
서울     True
수원    False
인천    False
dtype: bool

In [45]:
result2 = result[ds_bool]

In [46]:
result2

부산    917139.0
서울   -173030.0
dtype: float64

In [47]:
result2 = result[result.notnull()]

In [48]:
result2

부산    917139.0
서울   -173030.0
dtype: float64

In [49]:
result3 = (dataA - dataC)/dataC * 100

In [50]:
result3

대구          NaN
대전          NaN
부산   -27.028806
서울     1.796504
수원          NaN
인천          NaN
dtype: float64

In [51]:
result4 = result3[result3.notnull()]

In [52]:
result4

부산   -27.028806
서울     1.796504
dtype: float64

In [53]:
dataC

서울    9631482
수원    1490158
인천    2632035
부산    3393191
dtype: int64

In [54]:
dataC["광주"] = 5274258

In [55]:
dataC

서울    9631482
수원    1490158
인천    2632035
부산    3393191
광주    5274258
dtype: int64

In [56]:
dataC["울산"] = 4724926

In [57]:
dataC

서울    9631482
수원    1490158
인천    2632035
부산    3393191
광주    5274258
울산    4724926
dtype: int64

In [58]:
del dataC["서울"]

In [59]:
dataC

수원    1490158
인천    2632035
부산    3393191
광주    5274258
울산    4724926
dtype: int64

In [60]:
dataC["수원"]

1490158

In [61]:
dataC["수원"] = 111111

In [62]:
dataC["수원"]

111111

In [63]:
dataC

수원     111111
인천    2632035
부산    3393191
광주    5274258
울산    4724926
dtype: int64

In [64]:
dataC["제주"]

KeyError: '제주'