In [1]:
from pandas import DataFrame

In [2]:
raw_data = {'col0':[10, 20, 30, 40],
           'col1':[100, 200, 300, 400],
           'col2':[1000, 2000, 3000, 4000]}

In [3]:
raw_data

{'col0': [10, 20, 30, 40],
 'col1': [100, 200, 300, 400],
 'col2': [1000, 2000, 3000, 4000]}

In [4]:
data = DataFrame(raw_data)

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data

   col0  col1  col2
0    10   100  1000
1    20   200  2000
2    30   300  3000
3    40   400  4000

In [7]:
data['col0']

0    10
1    20
2    30
3    40
Name: col0, dtype: int64

In [8]:
data['col1']

0    100
1    200
2    300
3    400
Name: col1, dtype: int64

In [9]:
data['col2']

0    1000
1    2000
2    3000
3    4000
Name: col2, dtype: int64

In [10]:
data['col3']

KeyError: 'col3'

In [11]:
data

   col0  col1  col2
0    10   100  1000
1    20   200  2000
2    30   300  3000
3    40   400  4000

In [12]:
type(data)

pandas.core.frame.DataFrame

In [13]:
type(data['col0'])

pandas.core.series.Series

In [14]:
data['col0']

0    10
1    20
2    30
3    40
Name: col0, dtype: int64

In [15]:
type(data['col1'])

pandas.core.series.Series

In [16]:
type(data['col2'])

pandas.core.series.Series

In [17]:
ohlc = {'open':[11650, 11100, 11200, 11100, 11000],
       'high':[12100, 11800, 11200, 11100, 11150],
       'low':[11600, 11050, 10900, 10950, 10900],
       'close':[11900, 11600, 11000, 11100, 11050]}

In [18]:
ohlc

{'open': [11650, 11100, 11200, 11100, 11000],
 'high': [12100, 11800, 11200, 11100, 11150],
 'low': [11600, 11050, 10900, 10950, 10900],
 'close': [11900, 11600, 11000, 11100, 11050]}

In [19]:
result = DataFrame(ohlc)

In [20]:
result

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

In [21]:
result = DataFrame(ohlc, 
                   columns=['low', 'close', 'open', 'high'])

In [22]:
result

     low  close   open   high
0  11600  11900  11650  12100
1  11050  11600  11100  11800
2  10900  11000  11200  11200
3  10950  11100  11100  11100
4  10900  11050  11000  11150

In [23]:
date=['20.12.29', '20.12.26', '20.12.25', 
      '20.12.24', '20.12.23']

In [25]:
result = DataFrame(ohlc, 
                   columns=['open', 'high', 'low', 'close'],
                  index=date)

In [26]:
result

           open   high    low  close
20.12.29  11650  12100  11600  11900
20.12.26  11100  11800  11050  11600
20.12.25  11200  11200  10900  11000
20.12.24  11100  11100  10950  11100
20.12.23  11000  11150  10900  11050

In [27]:
close = result['close']

In [28]:
close

20.12.29    11900
20.12.26    11600
20.12.25    11000
20.12.24    11100
20.12.23    11050
Name: close, dtype: int64

In [29]:
result['20.12.25']

KeyError: '20.12.25'

In [30]:
day_data = result.ix['20.12.25']

C:\Users\TJ\Anaconda3\envs\codelab\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [31]:
day_data

open     11200
high     11200
low      10900
close    11000
Name: 20.12.25, dtype: int64

In [32]:
day_data = result.loc['20.12.25']

In [33]:
day_data

open     11200
high     11200
low      10900
close    11000
Name: 20.12.25, dtype: int64

In [34]:
result

           open   high    low  close
20.12.29  11650  12100  11600  11900
20.12.26  11100  11800  11050  11600
20.12.25  11200  11200  10900  11000
20.12.24  11100  11100  10950  11100
20.12.23  11000  11150  10900  11050

In [36]:
day_data = result.iloc[2]

In [37]:
day_data

open     11200
high     11200
low      10900
close    11000
Name: 20.12.25, dtype: int64

In [38]:
type(day_data)

pandas.core.series.Series

In [39]:
result

           open   high    low  close
20.12.29  11650  12100  11600  11900
20.12.26  11100  11800  11050  11600
20.12.25  11200  11200  10900  11000
20.12.24  11100  11100  10950  11100
20.12.23  11000  11150  10900  11050

In [40]:
result.columns

Index(['open', 'high', 'low', 'close'], dtype='object')

In [41]:
result.index

Index(['20.12.29', '20.12.26', '20.12.25', '20.12.24', '20.12.23'], dtype='object')