In [1]:
import pandas as pd

In [2]:
data = {
    '2005':[9762546, 3512547, 2517680, 2456016],
    '2010':[9631482, 3393191, 2632035, 2431774],
    '2015':[9904312, 3448737, 2890451, 2466052],
    '2020':[9853972, 3655437, 2466338, 2473990],
    '지역':['수도권', '경상권', '수도권', '경상권'],
    '증가율':[0.0283, 0.0163, 0.0982, 0.0141]
}

In [3]:
data

{'2005': [9762546, 3512547, 2517680, 2456016],
 '2010': [9631482, 3393191, 2632035, 2431774],
 '2015': [9904312, 3448737, 2890451, 2466052],
 '2020': [9853972, 3655437, 2466338, 2473990],
 '지역': ['수도권', '경상권', '수도권', '경상권'],
 '증가율': [0.0283, 0.0163, 0.0982, 0.0141]}

In [4]:
columns = ['지역', '2005', '2010', '2015', '2020', '증가율']

In [5]:
columns

['지역', '2005', '2010', '2015', '2020', '증가율']

In [6]:
index = ['서울', '부산', '인천', '대구']

In [7]:
index

['서울', '부산', '인천', '대구']

In [9]:
df = pd.DataFrame(data, columns=columns, index=index)

In [10]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [11]:
df.values

array([['수도권', 9762546, 9631482, 9904312, 9853972, 0.0283],
       ['경상권', 3512547, 3393191, 3448737, 3655437, 0.0163],
       ['수도권', 2517680, 2632035, 2890451, 2466338, 0.0982],
       ['경상권', 2456016, 2431774, 2466052, 2473990, 0.0141]], dtype=object)

In [12]:
df.columns

Index(['지역', '2005', '2010', '2015', '2020', '증가율'], dtype='object')

In [13]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [14]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [16]:
df.index.name = '도시'

In [17]:
df

     지역     2005     2010     2015     2020     증가율
도시
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [19]:
df.columns.name='특성'

In [20]:
df

특성   지역     2005     2010     2015     2020     증가율
도시
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [21]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')

In [22]:
df.columns

Index(['지역', '2005', '2010', '2015', '2020', '증가율'], dtype='object', name='특성')

In [23]:
df

특성   지역     2005     2010     2015     2020     증가율
도시
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [24]:
df.T

도시         서울       부산       인천       대구
특성
지역        수도권      경상권      수도권      경상권
2005  9762546  3512547  2517680  2456016
2010  9631482  3393191  2632035  2431774
2015  9904312  3448737  2890451  2466052
2020  9853972  3655437  2466338  2473990
증가율    0.0283   0.0163   0.0982   0.0141

In [25]:
data

{'2005': [9762546, 3512547, 2517680, 2456016],
 '2010': [9631482, 3393191, 2632035, 2431774],
 '2015': [9904312, 3448737, 2890451, 2466052],
 '2020': [9853972, 3655437, 2466338, 2473990],
 '지역': ['수도권', '경상권', '수도권', '경상권'],
 '증가율': [0.0283, 0.0163, 0.0982, 0.0141]}

In [26]:
columns

['지역', '2005', '2010', '2015', '2020', '증가율']

In [27]:
index

['서울', '부산', '인천', '대구']

In [28]:
df = pd.DataFrame(data, columns=columns, index=index)

In [29]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [30]:
df['지역']

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [31]:
df['2010']

서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [32]:
type(df['2010'])

pandas.core.series.Series

In [33]:
df[['2010', '2015']]

       2010     2015
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [34]:
type(df[['2010', '2015']])

pandas.core.frame.DataFrame

In [35]:
df[['2010']]

       2010
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [36]:
type(df[['2010']])

pandas.core.frame.DataFrame

In [37]:
import numpy as np

In [38]:
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))

In [39]:
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [40]:
df2[2]

0     2
1     6
2    10
Name: 2, dtype: int32

In [41]:
df2[2][1]

6

In [42]:
df2.loc[1]

0    4
1    5
2    6
3    7
Name: 1, dtype: int32

In [43]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [44]:
df[2]

KeyError: 2

In [45]:
df['2010']

서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [46]:
df['2015']['서울']

9904312

In [47]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [48]:
df['서울']['2015']

KeyError: '서울'

In [49]:
df

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982
대구  경상권  2456016  2431774  2466052  2473990  0.0141

In [50]:
df[:1]

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283

In [51]:
df[1:2]

     지역     2005     2010     2015     2020     증가율
부산  경상권  3512547  3393191  3448737  3655437  0.0163

In [53]:
df[1:3]

     지역     2005     2010     2015     2020     증가율
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982

In [54]:
df['서울':'인천']

     지역     2005     2010     2015     2020     증가율
서울  수도권  9762546  9631482  9904312  9853972  0.0283
부산  경상권  3512547  3393191  3448737  3655437  0.0163
인천  수도권  2517680  2632035  2890451  2466338  0.0982