In [1]:
lst = ['one', 'two', 'three', 'four']

In [2]:
for i in lst:
    print(i, type(i))

one <class 'str'>
two <class 'str'>
three <class 'str'>
four <class 'str'>

In [3]:
lst = [2020, 3.14, 'python']

In [4]:
for e in lst:
    print(e, type(e))

2020 <class 'int'>
3.14 <class 'float'>
python <class 'str'>

In [5]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
iterator = iter(lst)

In [8]:
for i in iterator:
    print(i)

1
2
3
4
5
6
7
8
9

In [9]:
print(range(10))

range(0, 10)

In [14]:
data = range(10)

In [15]:
print(data)

range(0, 10)

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
mypet = ['cat', 'hamster', 'dog', 'cow', 'pig', 'fish', 'turtle', 'snake']

In [20]:
for x in mypet:
    print(x, len(x))

cat 3
hamster 7
dog 3
cow 3
pig 3
fish 4
turtle 6
snake 5

In [21]:
print(len(mypet))

8

In [24]:
for i in range(len(mypet)):
    print(i, mypet[i])

0 cat
1 hamster
2 dog
3 cow
4 pig
5 fish
6 turtle
7 snake

In [26]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
lst = list(range(1, 101));

In [29]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
sum = 0

In [32]:
for x in lst:
    sum = sum + x;

In [33]:
print(sum)

5050

In [34]:
sum = 0

In [35]:
for x in list(range(1, 101)):
    sum = sum + x;

In [36]:
print(sum)

5050

In [37]:
tuple = ('A', '파이썬', 456, 3.14, True )

In [38]:
print(tuple)

('A', '파이썬', 456, 3.14, True)

In [39]:
for i in tuple:
    print(i)

A
파이썬
456
3.14
True

In [40]:
fortest = [(1, 2), (3, 4), (5, 6), (7, 8)]

In [42]:
for i in fortest:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [43]:
x, y = (1, 2)

In [44]:
print(x)

1

In [45]:
print(y)

2

In [48]:
for (x, y) in fortest:
    print(x + y)

3
7
11
15