In [1]:
for i in range(1, 11):
    if i>7:
        break
    print("{0}".format(i))
print("done")

1
2
3
4
5
6
7
done

In [2]:
lst = list(range(1, 11))

In [3]:
for i in lst:
    if i>7:
        break
    print("{0}".format(i))
print("done")

1
2
3
4
5
6
7
done

In [4]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for x in lst:
    if(x<8):
        continue
    print(x)
print("done")

8
9
10
done

In [8]:
# 1~100 값중 홀수만 출력
# for -> 1~100 
# range() -> list -> 1~100 
# if -> 홀수만 출력
# continue -> 홀수만 출력

In [9]:
lst = list(range(1, 101))

In [10]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
for i in lst:
    if i%2==0:
        continue
    print("{0}".format(i))

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [16]:
lst = list(range(1, 11))

In [17]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
for i in lst:
    if i>7:
        break
    print("{0}".format(i))
else:
    print("Exit without break.")
print("Always done")

1
2
3
4
5
6
7
Always done

In [24]:
scores = [90, 76, 32, 45, 80]

In [28]:
number = 0

In [29]:
for score in scores:
    number = number + 1
    if score<60:
        continue
    print("%d 번 학생 축하합니다. 합격입니다." % number)

1 번 학생 축하합니다. 합격입니다.
2 번 학생 축하합니다. 합격입니다.
5 번 학생 축하합니다. 합격입니다.

In [30]:
numbers = range(10)

In [31]:
print(numbers)

range(0, 10)

In [33]:
numbers

range(0, 10)

In [35]:
print(numbers)
list(numbers)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
numbers = range(1, 11)

In [37]:
print(numbers)

range(1, 11)

In [38]:
for x in numbers:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [39]:
numbers = range(2, 31, 2)

In [40]:
print(numbers)

range(2, 31, 2)

In [42]:
for x in numbers:
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [43]:
numbers = range(7, -1, -1)

In [44]:
print(numbers)

range(7, -1, -1)

In [45]:
for x in numbers:
    print(x)

7
6
5
4
3
2
1
0

In [46]:
num_list = list(range(2000, 2020, 2))

In [47]:
print(num_list)

[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018]

In [48]:
for i in num_list:
    print(i)

2000
2002
2004
2006
2008
2010
2012
2014
2016
2018

In [50]:
sum = 0

In [51]:
for i in range(1, 11):
    sum = sum + i

print(i)

10

In [52]:
scores = [90, 67, 77, 45, 80]

In [55]:
print(len(scores))

5

In [59]:
for score in range(len(scores)):
    if scores[score]<60:
        continue
    print("%d 번 학생 축하합니다." % (score+1))

1 번 학생 축하합니다.
2 번 학생 축하합니다.
3 번 학생 축하합니다.
5 번 학생 축하합니다.