In [2]:
for i in range(10):
    print("{0} * {1} = {2}".format(6, i, (6*i)))

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [5]:
for i in range(1, 10):
    print("{0} * {1} = {2}".format(7, i, (7*i)))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [7]:
for i in range(1, 10, 1):
    print("{0} * {1} = {2}".format(8, i, (8*i)))

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [8]:
# range 전체 구구단

In [12]:
for x in range(2, 10):
    for y in range(1, 10):
        print(x, '*', y, '=', x*y)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [14]:
# 구구단
# 2 4 6 8 10 12 14 16 18
# 3 6 9 12 ...
# ...
# 9 18 ... 81

In [18]:
for i in range(2, 10):
    for j in range(1, 10) :
        print(i*j, end=" ")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [19]:
l = ['cat', 'dog', 'bird', 'pig']

In [20]:
print(enumerate(l))

<enumerate object at 0x0000023DAC210EA8>

In [21]:
for k, animal in enumerate(l):
    print(k, animal)

0 cat
1 dog
2 bird
3 pig

In [22]:
for i in enumerate(l):
    print(i)

(0, 'cat')
(1, 'dog')
(2, 'bird')
(3, 'pig')

In [23]:
k, animal = (0, 'cat')

In [24]:
print(k, animal)

0 cat

In [28]:
x = 7

In [29]:
while x>0:
    print(x)
    x = x-1

print("while end")

7
6
5
4
3
2
1
while end

In [30]:
count = 1

In [31]:
while count < 11:
    print(count)
    count = count + 1

print('while end')

1
2
3
4
5
6
7
8
9
10
while end

In [32]:
sum = 0

In [33]:
i = 0

In [34]:
while i < 10:
    i = i + 1
    sum = sum + i
    
print(sum)

55